.add-form-input-container {
    width: 100%;

    .add-form-input-label {
        width: 100%;
        font-family: "Poppins", sans-serif;
        text-transform: uppercase;
        color: rgb(104, 98, 98);
        font-size: 14px;
        font-weight: 600;
    }
}
