.input-error-container {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 2px 0;

    .input-error-circle {
        color: rgb(237, 0, 0);
    }

    .input-error-circle-label {
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        color: rgb(237, 0, 0);
    }
}