@import "./data.scss";
@import "./settings.scss";
@import "./components/Auth.scss";
@import "./components/Logo.scss";
@import "./components/AuthInput.scss";
@import "./components/AccentButton.scss";
@import "./components/InputError.scss";
@import "./components/Home.scss";
@import "./components/Header.scss";
@import "./components/DisconnectButton.scss";
// @import "./components/AddForm.scss";
@import "./components/AddTaskForm.scss";
@import "./components/FormInputContainer.scss";
@import "./components/TaskManager.scss";
@import "./components/TaskGroup.scss";
@import "./components/Task.scss";
@import "./components/ModalOverlay.scss";
@import "./components/EditTaskModal.scss";